<nav class="navbar navbar-expand-lg navbar-dark bg-dark" th:fragment="navbar">
    <a class="navbar-brand" th:href="@{/home}" th:text="#{pages.title}"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
            aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/home}" th:text="#{nav.home}"></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/books}" th:text="#{nav.books}"></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/authors}" th:text="#{nav.authors}"></a>
            </li>
        </ul>
        <ul class="navbar-nav mr-auto" sec:authorize="hasAuthority('ADMIN')">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/admin/readers}" th:text="#{nav.manageReaders}"></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/admin/books}" th:text="#{nav.manageBooks}"></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/admin/authors}" th:text="#{nav.manageAuthors}"></a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownUser" role="button"
                   aria-expanded="false" aria-haspopup="true" data-toggle="dropdown" th:text="${session.user.name}">
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" th:href="@{/account}" th:text="#{nav.account}"></a>
                    <a class="dropdown-item" th:href="@{/logout}" th:text="#{nav.logout}"></a>
                    <a class="dropdown-item" th:href="@{''(lang=en)}">English</a>
                    <a class="dropdown-item" th:href="@{''(lang=fr)}">Français</a>
                </div>
            </li>
        </ul>
    </div>
</nav>