<html th:lang="${lang}" th:with="lang=${#locale.language}">
<head th:replace="fragments/header.html :: header"></head>
<body>
<nav th:replace="fragments/navbar.html :: navbar"></nav>
<br>
<div class="container">
    <H1 th:text="'Welcome to the admin page ' + ${session.user.getName()}"></H1>
</div>
</body>
</html>
