<!DOCTYPE html>
<html th:lang="${lang}" th:with="lang=${#locale.language}">
<head th:replace="fragments/header.html :: header">
</head>
<body>
<nav th:replace="fragments/navbar.html :: navbar"></nav>
<div class="container">
    <H1>Authors</H1>
</div>
<div class="container">
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Number of books</th>
            <th>Option(s)</th>
        </tr>
        </thead>
        <tr th:each="author: ${allAuthors}">
            <td th:text="${author.id}"></td>
            <td th:text="${author.name}"></td>
            <td th:text="${#lists.size(author.books)}"></td>
            <td>
                <div class="form-inline">
                    <form class="form-group col-md-3" method="POST" sec:authorize="hasAuthority('ADMIN')"
                          th:action="@{'/admin/author/modify/{id}'(id=${author.id})}">
                        <button class="btn btn-primary" type="submit">Modify</button>
                    </form>
                    <form class="form-group col-md-3" method="POST" sec:authorize="hasAuthority('ADMIN')"
                          th:action="@{'/admin/author/delete/{id}'(id=${author.id})}">
                        <button class="btn btn-warning" type="submit">Delete</button>
                    </form>
                </div>
            </td>
        </tr>
    </table>
</div>
</body>
</html>