<!DOCTYPE html>
<html th:lang="${lang}" th:with="lang=${#locale.language}">
<head th:replace="fragments/header.html :: header">
</head>
<body>
<nav th:replace="fragments/navbar.html :: navbar"></nav>
<div class="container">
    <H1>Books</H1>
</div>
<div class="container">
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Author</th>
            <th>Type</th>
            <th>Series</th>
            <th>Option(s)</th>
        </tr>
        </thead>
        <tr th:each="book: ${allBooks}">
            <td th:text="${book.id}"></td>
            <td th:text="${book.title}"></td>
            <td th:text="${#strings.listJoin(book.authors.![name], ', ')}"></td>
            <td th:text="${book.getDecriminatorValue()}"></td>
            <td>
                <span th:if="${book instanceof T(fr.miage.cour.ari.model.Comics)}" th:text="${book.getSeries()}"></span>
            </td>
            <td>
                <div class="form-inline">
                    <form class="form-group col-md-3" method="POST" th:action="@{'/book/borrow/{id}'(id=${book.id})}">
                        <button class="btn btn-success" type="submit">Borrow</button>
                    </form>
                    <form class="form-group col-md-3" method="POST" sec:authorize="hasAuthority('ADMIN')"
                          th:action="@{'/admin/book/modify/{id}'(id=${book.id})}">
                        <button class="btn btn-primary" type="submit">Modify</button>
                    </form>
                    <form class="form-group col-md-3" method="POST" sec:authorize="hasAuthority('ADMIN')"
                          th:action="@{'/admin/book/delete/{id}'(id=${book.id})}">
                        <button class="btn btn-warning" type="submit">Delete</button>
                    </form>
                </div>
            </td>
        </tr>
    </table>
</div>
</body>
</html>