<html th:lang="${lang}" th:with="lang=${#locale.language}">
<head th:replace="fragments/header.html :: header"></head>
<body>
<br>
<div class="container">
    <H1>Welcome on Library !</H1>
    <p> Sign in or sign up to get access to the library</p>
    <a class="btn btn-success" th:href="@{/login}"> <i class="fa fa-arrow-circle-o-left"></i>&nbsp;Sign in</a>
    <a class="btn btn-success" th:href="@{/signup}"> <i class="fa fa-arrow-circle-o-left"></i>&nbsp;Sign up</a>
</div>
</body>
</html>
