<!DOCTYPE html>
<html th:lang="${lang}" th:with="lang=${#locale.language}">
<head th:replace="fragments/header.html :: header">
</head>
<body>
<nav th:replace="fragments/navbar.html :: navbar"></nav>
<div class="container">
    <H1>New Reader</H1>
</div>
<div class="container">
    <form method="POST" th:action="@{/admin/newReader}">
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="name">Name</label>
                <input class="form-control" id="name" name="name"/>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="emailAddress">Email</label>
                <input class="form-control" id="emailAddress" name="emailAddress"/>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="password">Password</label>
                <input class="form-control" id="password" name="password" type="password"/>
            </div>
        </div>
        <div class="form-row">
            <input class="btn btn-dark" type="submit" value="Submit"/>
        </div>
    </form>
</div>
<div class="container">
    <H1>Manage Readers</H1>
</div>
<div class="container">
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Options</th>
        </tr>
        </thead>
        <tr th:each="reader: ${readers}">
            <td th:text="${reader.id}"></td>
            <td th:text="${reader.name}"></td>
            <td th:text="${reader.emailAddress}"></td>
            <td>
                <div class="form-inline" th:if="${session.user.emailAddress} != ${reader.emailAddress}">
                    <form class="form-group col-md-3" method="GET" th:action="@{/admin/reader/modify/__${reader.id}__}">
                        <button class="btn btn-primary" type="submit">Modify</button>
                    </form>
                    <form class="form-group col-md-3" method="POST"
                          th:action="@{/admin/reader/delete/__${reader.id}__}">
                        <button class="btn btn-warning" type="submit">Delete</button>
                    </form>
                </div>
            </td>
        </tr>
    </table>
</div>
</body>
</html>