<!DOCTYPE html>
<html th:lang="${lang}" th:with="lang=${#locale.language}">
<head th:replace="fragments/header.html :: header">
</head>
<body>
<nav th:replace="fragments/navbar.html :: navbar"></nav>
<div class="container">
    <H1>Books</H1>
</div>
<div class="container">
    <form method="POST" th:action="@{/admin/newBook}">
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="title">Title</label>
                <input class="form-control" id="title" name="title"/>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="authors">Authors</label>
                <select class="form-control" id="authors" multiple name="authors" required>
                    <option th:each="author : ${authors}"
                            th:utext="${author.name}"
                            th:value="${author.id}">
                    </option>
                </select>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="type">Type</label>
                <select class="form-control" id="type" name="type" required>
                    <option value="Book">
                        Book
                    </option>
                    <option value="Roman">
                        Roman
                    </option>
                    <option value="Comics">
                        Comics
                    </option>
                </select>
            </div>
        </div>
        <div class="form-row">
            <input class="btn btn-dark" type="submit" value="Submit"/>
        </div>
    </form>
</div>
</body>
</html>