<!DOCTYPE html>
<html th:lang="${lang}" th:with="lang=${#locale.language}">
<head th:replace="fragments/header.html :: header">
</head>
<body>
<nav th:replace="fragments/navbar.html :: navbar"></nav>
<div class="container">
    <H1 th:text="'Modify reader with id: ' + ${reader.id}"></H1>
</div>
<div class="container">
    <form method="POST" th:action="@{/admin/reader/modify/__${reader.id}__}">
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="name">New name</label>
                <input class="form-control" id="name" name="name" required th:value="${reader.name}"/>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="emailAddress">New email</label>
                <input class="form-control" id="emailAddress" name="emailAddress" required
                       th:value="${reader.emailAddress}"/>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="password">New password</label>
                <input autocomplete="off" class="form-control" id="password" name="password" required type="password"/>
            </div>
        </div>
        <div class="form-row">
            <input class="btn btn-dark" type="submit" value="Submit"/>
        </div>
    </form>
</div>
</body>
</html>